.about-us-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-width: 100%;
}

/* White */
.img-border,
.color-theme-0 .img-border {
  border: 3px solid #eeeeee !important;
}
/* Sepia */
.color-theme-1 .img-border {
  border: 3px solid #e6d494 !important;
}
/* Night */
.color-theme-2 .img-border {
  border: 3px solid #3c4361 !important;
}

[data-speaker] {
  color: orange;
  font-size: 3rem;
  display: none;
}
